*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Karla;
}


body {
font-family: Karla;
line-height:1.4;
overflow-x: hidden;
font-size: 1.125rem;
height: 85vh;
display: -moz-grid;
display: -ms-grid;
display: grid;

place-items: center;
background-color: #000000;
color: #e8e8e2;


}

#container {
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display: flex;
    width: 90%;
    max-width: 1100px;
    align-items: center;
    gap: 2rem;

}

.hero img {
    width:350px;
    height:350px;
    object-fit: cover;
    clip-path: circle(50% at 50% 50%);
    filter: grayscale(1);
    transition: all 500ms ease-in-out;

}

.hero img:hover,
.hero img:focus {
    filter:grayscale(0);
}

.author{
    margin-bottom: 2rem;
}

.name{
    font-size: 950;
    font-size: 2rem;

}

.location {
    font-weight: 400;
    
}

p{
    margin-bottom: 1rem;
    text-align: justify;
}


.media-social {
    margin-bottom: 1rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    gap:1rem;


}
.links{
    text-decoration: none;
    transition: all 300ms ease-in-out;
}
.links:hover,
.links:focus{
    opacity: 0.7;
}

svg {
    width: 30px;
    color: #e8e8e2;

}

.btns{
    display:flex;
    flex-wrap:wrap;
    gap: 1rem;
}

.btn {
    background-color: #000;
    font-family: Karla;
    color:#e8e8e2;
    border: initial;
    font-size: 1.000rem;
    padding: 0.4rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-decoration: none;
    border-style: solid ;
    border-color: #e8e8e2;
}


@media (max-width: 900px) {
    #container {
        flex-wrap: wrap;
        flex-direction:column;
    }
}

@media (max-width: 400px) {
    .hero img {
        width: 250px;
        height: 250px;
    }
}


svg {
    width: 30px;
    color: #e8e8e2;


}










.btn:hover {
   background: #e8e8e2;
   color: #000000;
   cursor: pointer;
   border-style:solid;
   font-family: Karla;
}







div::-webkit-scrollbar {
    width: 10px;
  }
  div::-webkit-scrollbar-track {
    background-color: #eee;
  }
  div::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 0;
  }
  div::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }
  div::-webkit-scrollbar-corner {
    background-color: #000000;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: 0 0 10px #e8e8e2 inset;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }




 
  









  nav{
    display: flex;
    height: 80px;
    width: 100%;
    font-family: Karla;
    background: #000;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: #e8e8e2;
    }
  }
